@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

* {
    box-sizing: border-box;
}

.main {
    width: 95%;
    margin: auto;
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-card {
    padding: 15px;
    border-radius: 1.25rem;
    background-color: #fff;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
}


.result-contents {
    display: grid;
    grid-template-columns: calc(90% - 10px) 10%;
    gap: 10px;
    align-items: baseline;
    font-weight: bold;
}
.result-contents .result-progress {
    border-color: #ecca31;
    padding: 0.25em 0;
    margin: 0;
    border-width: 2px;
    border-bottom-style: dashed;
    display: flex;
    transition: all .8s;
}
.result-contents .wpm {
    text-align: right;
}
.result-contents .avatar-container {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 72px;
    height: 30px;
}
.result-progress .name-container {
    width: auto;
    display: inline-block;
    overflow: hidden;
    text-align: right;
    white-space: nowrap;
    max-width: 100px;
}
.result-progress .name-container .name {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    white-space: nowrap;
}
.result-progress .name-container .username {
    margin-right: 5px;
}



.input-panel {
    background-color: #f6fbff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #C7D5D9;
    margin: 10px 0 2px 0;
}
.game-view .input-panel .text-part{
    margin-top: 10px;
    width: 100%;
    text-decoration-skip-ink: auto;
    text-decoration-skip-ink: all;
    font-family: Arial,serif;
    font-size: 20px;
}
.input-panel .text-part {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.4;
}

.input-panel .text-input {
    font-weight: 500;
    font-family: monospace;
    border: 1px solid #c7d5dd;
    background: #fff;
    margin-top: 0.5em;
    text-align: justify;
    color: #999999;
    font-size: 20px;
    width: 100%;
    height: 35px;
}
.input-panel .text-input.text-warning{
    color: #555;
    background-color: #d08383;
}

.typing-cursor {
    background-image: url(data:image/gif;base64,R0lGODlhAQAoAPABAERmZv///yH5BAg1AAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAAQAoAAACBYSPqctYACH5BAg1AAAALAAAAAABACgAgP///////wIFhI+py1gAOw==);
    background-repeat: repeat-y;
}
.typing{
    text-decoration: underline;
}
.green-text {
    color: #99cc00;
}
.red-text {
    color: #803333;
    background-color: #f0a3a3;
}


.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.action-buttons .start-race-btn {
    display: inline-block;
    font-size: 100%;
    background-color: #3cc1a3;
}
.action-buttons button{
    border: none;
    display: inline-block;
    padding: 0.75rem 1.75em;
    border-radius: 5px;
    color: #fff;
    background-color: #ff9000;
    font-weight: 700;
    cursor: pointer;
}